@model IEnumerable<QuickySaleOnlineShopper.Models.FoodGroup>

<ul id="categories">
    @foreach (var genre in Model)
    {
        <li>
            @Html.ActionLink(genre.FoodGroupName, "Browse", new { id = genre.FoodGroupId }, null)
        </li>
    }
</ul>